{{#*inline "head-block" }}
		<title>cargo-local-serve: packages for Rust</title>
{{/inline}}
{{#> frame}}
	<div id="crates-heading">
		<h1>File content</h1> <h2>of {{c.file_path}}</h2>
	</div>
	<div><a href="/files/{{c.name}}/{{c.version}}">⬅ Back to Crate file list</a></div>
	<div class = "file-content">
		{{{c.content_html}}}
	</div>
{{/frame}}
