{{#*inline "head-block" }}
		<title>cargo-local-serve: packages for Rust</title>
{{/inline}}
{{#> frame}}
	<div id="crates-heading">
		<h1>File content</h1> <h2>of {{c.file_path}}</h2>
	</div>
	<div>{{{c.content_html}}}</div>
{{/frame}}
